body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    background-color: #141414;
}

ul {
    list-style: none;
}

.App-header {
    background-color: rgba(29,30, 34, 0.98);
    position: fixed;
    z-index: 9;
    width: 100%;

}

.App-header a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;

}

.App-header .App-logo {
    font-size: 40px;
    color: #FF0D46;
    padding: 1% 1.5%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
}

.App-navbar {
    height: 4vw;
    margin-top: 2vw;
}

.App-navbar  ul {
    display: block;
    text-align: center;
    margin: auto;
}

.App-navbar  ul > li {
    display: inline-block;
    width: 8vw;
    text-align: center;
    border-bottom: 2px solid white;
    margin-right: 4%;
}

.App-navbar  ul > li:hover {
    border-bottom: 2px solid #FF0D46;
}

.App-navbar  ul > li > a {
    font-size: 1.1vw;
    padding: 5px;
}

.App-navbar  ul > li > a:hover {
 color: #FF0D46 !important;

}

.container {
    width: 100%;
}

.home-container {
    margin-top: 13vw;
}


.featured-movie {
    text-align: left;
    padding: 0;

}


.featured-movies__header {
    margin-bottom: 15px;
    margin-top: 60px;
    color: white;
}

.featured-movie__image img {
    width: 100%;
    display: block;
    transition: 0.3s;
}

.featured-movie__image img:hover {
    cursor: pointer;


}

.featured-movie p {
    margin: 0;
    cursor: default;
    padding-bottom: 3px;
    color: white;
}

.featured-movie p:first-child {
    padding-top: 15px;
    color: white;
}


#myModal {
    padding: 0;
}

.modal-content {
    background-color: rgba(29,30, 34, 0.98);
}

.modal-footer {
    border: none;
}

.modal-close {
    color: #FF0D46;
    border: none;
    background-color: transparent;
    margin: auto;
    display: block;
}

.movie-title {
    padding-top: 30px;
    color: white;
}

.movie-image {
    order: 1;
    padding-right: 20px;
}

.movie-information {
    order: 1;
    text-align: left;
    width: 100%;
}

.movie-information, .movie-reviews {
    background: #f7f7f7;
    box-shadow: 0px 5px 10px 0px #e8e6e6;
    padding: 20px;
    margin-bottom: 2%;
}

.movie-title h2, .movie-reviews h2 {
    font-size: 32px;
    margin: 0;
}

.movie-title hr {
    margin-bottom: 30px;
}

.movie-container {
    display: flex;
}

.movie-reviews {
    text-align: left;
    margin-top: 20px;
}

.review-author {
    font-size: 12px;
}

.movie-listings {
    display: flex;
    flex-wrap: wrap;
}

.movie-listings .movie-image {
    padding-right: 6px;
}

.page-not-found {
    margin-top: 30px;
    font-size: 32px;
}



