body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #212121;
    background-color: #141414;
}

.App-header {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -2%;
    height: 7.5vw;
}

.App-header a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding-right: 30px;
    float: right;

}

.App-header h2 {
    font-size: 40px;
    color: #e50914;
    padding: 1% 1.5%;
}

.App-header a:hover {
    color: #e0e0e0;
}





/*.container {
    margin: 0 auto;
    width: 980px;
}*/



.featured-movie {
    text-align: left;
    margin-bottom: 2%;
}

.featured-movies__header {
    margin-bottom: 15px;
    margin-top: 60px;
    color: white;
}

.featured-movie__image img {
    width: 100%;
    display: block;
}

.featured-movie p {
    margin: 0;
    cursor: default;
    padding-bottom: 3px;
    color: white;
}

.featured-movie p:first-child {
    padding-top: 15px;
    color: white;
}

hr {
    margin-bottom: 15px;
    background-color: #e0e0e0;
    height: 1px;
    border: 0;
}

.movie-title {
    padding-top: 30px;
    color: white;
}

.movie-image {
    order: 1;
    padding-right: 20px;
}

.movie-information {
    order: 1;
    text-align: left;
    width: 100%;
}

.movie-information, .movie-reviews {
    background: #f7f7f7;
    box-shadow: 0px 5px 10px 0px #e8e6e6;
    padding: 20px;
    margin-bottom: 2%;
}

.movie-title h2, .movie-reviews h2 {
    font-size: 32px;
    margin: 0;
}

.movie-title hr {
    margin-bottom: 30px;
}

.movie-container {
    display: flex;
}

.movie-reviews {
    text-align: left;
    margin-top: 20px;
}

.review-author {
    font-size: 12px;
}

.movie-listings {
    display: flex;
    flex-wrap: wrap;
}

.movie-listings .movie-image {
    padding-right: 6px;
}

.page-not-found {
    margin-top: 30px;
    font-size: 32px;
}



